
<suite name="Mira Safety Application Automation Test">

	<listeners>
		<listener
			class-name="com.MS.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Mira Safety Test Cases">
		<classes>
			<class name="com.MS.qa.testcases.LoginTest" />
			<class name="com.MS.qa.testcases.MyAccountPageTest" />
		</classes>
	</test>
</suite>